body {
    font-family: 'Libre Franklin', sans-serif;
}

.bg {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
    width: 100%;
}

.header {
    height: 130px;
}

.container {
    width: 1040px;
    height: 100%;
    margin: auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    height: 100%;
}

.logo {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    font-weight: bold;
}

.burger_menu {
    display: none;
}

.header_menu a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
    color: #FFFFFF;
    transition-delay: .2s;
}

.header_menu a:last-child {
    margin-right: 0;
}

.header_menu a:hover {
    font-weight: bold;
}

.content {
    margin-top: 145px;
}

.content_top {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 35px;
}

.content-mdl {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 106px;
}

.content_bottom {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: underline;
}

@media (max-width: 580px) {
    .bg {
        height: 275px;
        background-size: cover;
    }

    .header {
        position: relative;
        height: auto;
    }

    .container {
        width: 100%;
        padding: 39px 36px 0;
    }

    .header_inner {
        padding-top: 0;
    }

    .logo {
        width: 100%;
        font-size: 24px;
        text-align: center;
        padding-bottom: 55px;
    }

    .burger_menu {
        display: flex;
        height: 24px;
        width: 24px;
        position: absolute;
        align-items: center;
    }

    .header_menu {
        display: none;
    }

    .content {
        margin-top: 0;
    }

    .content_top {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 13px;
    }

    .content-mdl {
        text-align: center;
        padding-bottom: 45px;
        font-size: 13px;
        line-height: 16px;
    }

    .content_bottom {
        text-align: center;
        font-size: 13px;
        line-height: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1040px) {
    .container {
        width: 100%;
        padding: 0 40px;
    }

    .content {
        margin-top: 90px;
    }

    .header_menu a {
        margin-right: 25px;
    }

    .content_top {
        font-size: 40px;
        padding-bottom: 5px;
    }

    .content-mdl {
        padding-bottom: 40px;
        font-size: 22px;
    }

    .content_bottom {
        font-size: 13px;
    }
}

@media (min-width: 580px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .content {
        margin-top: 50px;
    }

    .header_menu a {
        margin-right: 10px;
        font-size: 15px;
    }

    .content_top {
        font-size: 30px;
        padding-bottom: 0;
    }

    .content-mdl {
        padding-bottom: 30px;
        font-size: 18px;
    }

    .content_bottom {
        font-size: 10px;
    }
}



.about {
    height: 544px;
}

.about_top {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 93px;
    margin-bottom: 76px;
}

.about_item {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 20px;
}


@media (max-width: 480px) {
    .about {
        height: auto;
    }

    .about_top {
        text-align: center;
        margin-top: 0;
        margin-bottom: 19px;
        padding: 0;
    }

    .about_item {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 15px;
    }
}


