body {
    font-family: 'Libre Franklin', sans-serif;
}

.mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: 1;
}

.bg {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
    width: 100%;
}

.header {
    height: 130px;
}

.container {
    width: 1040px;
    height: 100%;
    margin: auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    height: 100%;
}

.logo {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    font-weight: bold;
}

.burger_menu {
    display: none;
}

.header_menu a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
    color: #FFFFFF;
    transition-delay: .2s;
}

.header_menu a:last-child {
    margin-right: 0;
}

.header_menu a:hover {
    font-weight: bold;
}

.content {
    margin-top: 145px;
}

.content_top {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 35px;
}

.content-mdl {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 106px;
}

.content_bottom {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: underline;
}

@media (max-width: 580px) {
    .bg {
        height: 275px;
        background-size: cover;
    }

    .header {
        position: relative;
        height: auto;
    }

    .container {
        width: 100%;
        padding: 39px 36px 0;
    }

    .header_inner {
        padding-top: 0;
    }

    .logo {
        width: 100%;
        font-size: 24px;
        text-align: center;
        padding-bottom: 55px;
    }

    .burger_menu {
        display: flex;
        height: 24px;
        width: 24px;
        position: absolute;
        align-items: center;
        cursor: pointer;
    }

    .header_menu {
        display: none;
    }

    .content {
        margin-top: 0;
    }

    .content_top {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 13px;
    }

    .content-mdl {
        text-align: center;
        padding-bottom: 45px;
        font-size: 13px;
        line-height: 16px;
    }

    .content_bottom {
        text-align: center;
        font-size: 13px;
        line-height: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1040px) {
    .container {
        width: 100%;
        padding: 0 40px;
    }

    .content {
        margin-top: 90px;
    }

    .header_menu a {
        margin-right: 25px;
    }

    .content_top {
        font-size: 40px;
        padding-bottom: 5px;
    }

    .content-mdl {
        padding-bottom: 40px;
        font-size: 22px;
    }

    .content_bottom {
        font-size: 13px;
    }
}

@media (min-width: 580px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .content {
        margin-top: 50px;
    }

    .header_menu a {
        margin-right: 10px;
        font-size: 15px;
    }

    .content_top {
        font-size: 30px;
        padding-bottom: 0;
    }

    .content-mdl {
        padding-bottom: 30px;
        font-size: 18px;
    }

    .content_bottom {
        font-size: 10px;
    }
}


.content_item {
    padding-top: 95px;
    padding-bottom: 145px;
}


.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 76px;
}

.about_item {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 25px;
}

.about_item:last-child {
    margin-bottom: 0;
}

@media (max-width: 580px) {
    .content_item {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .about_top {
        text-align: center;
        margin-top: 0;
        margin-bottom: 19px;
        padding: 0;
    }

    .about_item {
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 15px;
    }
}



.skills {
    background: #FFFAF2;
}

.skills_content {
    display: flex;
}

.skills_picture {
    background-repeat: no-repeat;
    padding-right: 125px;
}

.skills_item {
    display: flex;
    margin-bottom: 20px;
}

.skills_item_caption {
    width: 220px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.skills_item_body {
    width: 100%;
}
.progress_bar {
    width: 100%;
    background-color: #F5D6AB;
}

.progress_bar_line {
    height: 24px;
    background-color: #C66C49;
}

@media (max-width: 1040px) and (min-width: 580px) {

    .content_item {
        padding-top: 40px;
    }
    .skills_content {
        display: block;
    }

    .title {
        text-align: center;
    }

    .skills_picture {
        padding-right: 0;
        padding-bottom: 40px;
        margin: 0 30%;
    }

    .skills_item_caption {
        font-size: 15px;
    }

    .skills_item_body {
        font-size: 15px;
    }
}


@media (max-width: 580px) {
    .skills_content {
        display: block;
    }

    .title {
        text-align: center;
    }

    .skills_picture {
        padding-right: 0;
        padding-bottom: 26px;
        text-align: center;
    }

    .skills_item_caption {
        font-size: 12px;
    }

    .skills_item_body {
        font-size: 12px;
    }
}

.slide_caption {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 48px;
}

.slide_content {
    display: flex;
}

.slide_body {
    font-size: 18px;
    line-height: 30px;
    padding-right: 125px;
}

.slide_pictures {
    display: flex;
}

.slide_column {
    margin-right: 30px;
}

.slide_column:last-child {
    margin-right: 0;
}

img:first-child {
    margin-bottom: 30px;
}

@media (max-width: 1040px) {
    img {
        width: 100%;
    }
}

@media (max-width: 1040px) and (min-width: 580px) {
    .slide_caption {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }

    .slide_content {
        display: block;
    }

    .slide_body {
        text-align: center;
        padding-right: 0;
        padding-bottom: 50px;
    }
}


@media (max-width: 580px) {
    .slide_caption {
     text-align: center;
     font-size: 14px;
     line-height: 25px;
    }

    .slide_content {
        display: block;
    }

    .slide_body {
        text-align: center;
        padding-right: 0;
        padding-bottom: 30px;
    }
}



.footer {
    background: #FFFAF2;
}

.footer_list {
    display: flex;
}

.footer_list_static {
    display: flex;
    margin-right: 300px;
}

.footer_list_item {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

.footer_list_item:last-child {
    margin-right: 0;
}

.footer_list_item a {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}


@media (max-width: 1040px) and (min-width: 768px) {
    .footer_list_static {
        margin-right: 180px;
    }

    .footer_list_item {
        margin-right: 180px;
    }
}

@media (max-width: 768px) and (min-width: 580px) {
    .footer_list_static {
        margin-right: 90px;
    }

    .footer_list_item {
        margin-right: 90px;
    }
}

@media (max-width: 580px) {
    .footer_list {
        flex-wrap: wrap;
    }

    .footer_list_static {
        display: flex;
        padding-bottom: 30px;
    }

    .footer_list_traffic {
        display: block;
        padding-bottom: 50px;
    }

    .footer_list_item {
        margin-right: 120px;
    }
}



